#main{
    
  text-align: center;  
   margin:10px;
    padding:2 2 2 2;
background-color: burlywood;
     
    
} 

.input{
   border-radius: 2px;
    border-bottom-color: black;
   
}

#submit:hover{
    color:midnightblue;
}
#fd {
     border-color: #095d5d;

}
  
