body{
    margin:0;
    padding: 0;
    background: url(images/2up-SQ-L_fleece_20191009.jpg);
    background-size: cover;
}
form{

    font-size: 20px;
    
}
fieldset{
    border-radius: 20px;
    background: rgba(118, 255, 0, 0.63);
    width:650px;
    height: 600px;
    margin:20px auto;
    text-align: center;
    color:#000000;
    text-transform: uppercase;
    font-size: 25px;
}
legend{
    color:#fff;
    text-align: center;
    font-weight: bold;
  background: #000;
    
}

input[type=text]{
    border-radius: 5px;
text-transform: uppercase;
    width: 500px;
    height: 50px;
}
input[type=email]{
      width: 500px;
    height: 50px;
    border-radius: 5px;
}

select{
     width: 400px; 
    height: 30px;
}
input[type=submit]{
    width: 250px;
    height: 30px;
    margin-top: 30px;
}
input[type=submit]:hover{
    background-color:#000;
    color:aliceblue;
}
/* .add{
    font-size: 25px;
    background-color: aliceblue;
    padding: 10px;
    color:#000;
    margin-left: 40%;
    text-decoration: none;
}   */
