body{
    margin:0;
    padding: 0;
    background: url(image/UCC_Event.jpg);
    background-size: cover;
}
table{
    padding: 20px;
    text-align: center;
    width: 100%;
    
}
tr {
    background: #fff;
     
}
th{
    padding: 30px;
}
td{
    padding: 20px;

}
.add{
    font-size: 20px;
    background-color: rgb(127, 189, 13);
    padding: 2px;
    margin: 5px;
    color:#000;
    margin-left: 40%;
    text-decoration: none;
}

 